<?xml version="1.0"?>
<model>
    <name>crazyflie</name>
    <version>1.0</version>
    <sdf version="1.9">model.sdf</sdf>

    <author>
        <name>Cong Khanh Dinh</name>
        <email>cong-khanh.dinh@lcis.grenoble-inp.fr</email>
    </author>

    <description>
        Meshes and a model of Crazyflie 2.0 for customization.
    </description>
</model>